<!DOCTYPE html>
<html>
<head>
  <title>The Spirit Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <nav>
    <div class= "header">
      <h1>The Spirits Store</h1>
    </div>
      <div class="grid">
        <div class="grid-row" >
          <a href="/ingredients"><div class="grid-cell">Stock</div></a>
          <a href="/ingredients/new"><div class="grid-cell">Order Stock</div></a>
          <a href="/cocktails"><div class="grid-cell">Cocktail Menu</div></a>
        </div>
      </div>
  </nav>
  <%= yield  %>
</body>
</html>
