<!DOCTYPE html>
<html>
<head>
  <title>The Spirit Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <nav>
    <h1>The Spirits Store</h1>
    <ul>
      <li>
        <a href="/ingredients">My Stock</a>
      </li>
      <li>
        <a href="/ingredients/new">Order Stock</a>
      </li>
      <li>
        <a href="/cocktails">Cocktail Menu</a>
      </li>
    </ul>
  </nav>
  <%= yield  %>
</body>
</html>