<!DOCTYPE html>
<html>
<head>
  <title>The Spirit Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <nav>
    <div class= "header">
      <h1>The Spirits Store</h1>
    </div>
      <div class="grid">
        <div class="grid-row" >
          <div class="grid-cell"><a href="/ingredients">Stock</a></div>
          <div class="grid-cell"><a href="/ingredients/new">Order Stock</a></div>
          <div class="grid-cell"><a href="/cocktails">Cocktail Menu</a></div>
        </div>
      </div>
  </nav>
  <%= yield  %>
</body>
</html>
