<link rel="stylesheet" type="text/css" href="/styles/new_ingredient.css">

<h2>Place order</h2>

  <div class="form-div">
    <form action="/ingredients" method="post">

    <label for="name">Ingredient Name: </label>
    <input type="name" type="text" name="name">

    <br/>
    <br/>

    <label for="price_per_ltr">Price Per Liter: </label>
    <input type="price_per_ltr" type="number" name="price_per_ltr">

    <br/>
    <br/>

    <label for="is_alcoholic">Is the Ingredient Alcoholic?</label>
    <select id="is_alcoholic" name="is_alcoholic">
    <option value="t">Yes</option>
    <option value="f">No</option>
    </select>

    <br/>
    <br/>

    <label for="quantity">Number of liters:</label>
    <input id="quantity" type="number" name="quantity">

    <br/>
    <br/>


    <label for="mark_up">Mark up:</label>
    <input id="mark_up" type="number" name="mark_up">

    <br/>
    <br/>

    <input class="btn btn--action" type='submit' value="Order">
    </form>
  </div>
