html {
  position: relative;
  text-align: center
}

h2 {
  font-family: Rampung;
  color: white;
  text-align: center;
}

.cocktail_img {
  background: black url('/images/aul_fash.jpg');
  position: absolute;
  vertical-align: center;
  border: 1px white solid;
  right: 9%;
  margin: 50px;
  top: 0px;
  height: 45%;
  width: 30%;
  
}

/*.cocktail_img2 {
  background: black url('/images/zombie.jpg');
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: 57%;
  width-left: 100px;
  top: -1013px;
  width: 30%;
  height: 400px;
  border: 1px white solid;
}
*/
.repeat_img {
  background: black url('/images/transparent.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  
  position: absolute;
  width: 100%;
  
  

}


.cocktail {
  position: relative;
  height: 45%;
  margin: 50px;
  padding: 20px;
  color: white;
  background-color: black;
  left: 5%;
  border: 1px white solid;
  width: 30%;
  font-family: penna;
  font-size: 22px;
}

.name {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: black;
}

.cost_price {
  position: relative;
  left: 5%;
  margin: 50px;
  padding: 20px;
  left: 5%;
  color: white;
  background-color: black;
  width: 75%;
  border: white solid 1px;
  font-family: penna;
  font-size: 28px;
}


