body {
  padding: 0px;
  margin: 0px;
  
}

.table1 {
  float: left;
  width: 100%;
  text-align: center;
  background-color: slategrey;
}

.table2 {
  float: right;
  width: 100%;
  text-align: center;
  background-color: slategrey;
}

.table3 {
  clear: both;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  border: 1px white solid;
}

h2 {
  text-align: center;
  float: left;
  width: 100%;
  top: 20%;
  font-family: Watchword Hairline Demo;
  color: white;
  background-color: black;
  margin-top: 1px white;
  border: solid 1px;
}

th {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Watchword Hairline Demo;
  border-bottom: 1px black solid;
}

td {
  font-family: PrinsesstartaDEMO;
}
