.header {
  background-color: black;
  width: 100%;
  height: auto;
  border: solid;
}

h1 {
  font-family: retrograph;
  color: white;
  text-align: center;
  font-size: 30px
}

.grid {
    background-color: grey;
    
    flex-direction: row;
  }

.grid-row {
    display: flex;
    
  }

.grid-cell {
    text-align: center;
    flex: 1;
    padding: 10px;
    border: solid black 1px;
  }