.header {
  background-color: black;
  width: 100%;
  height: auto;
  border: solid;
}

h1 {
  font-family: retrograph;
  color: white;
  text-align: center;
  font-size: 30px
}

.grid {
    border: solid 1px dodgerblue;
  }

.grid-row {
    display: flex;
    flex-direction: column;
  }

.grid-cell {
    text-align: center;
    flex: 1;
    padding: 10px;
    border: solid 1px salmon;
    flex-direction: row;
  }