body {
  padding: 0px;
  margin: 0px;
  
}

.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  border: solid 10px black;
}

h1 {
  font-family: retrograph;
  color: white;
  text-align: center;
  font-size: 30px;
}

.grid {
  background-color: black;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.grid-cell {
  text-align: center;
  flex: 1;
  padding: 10px;
  border-bottom: solid 1px white;
  border-top: solid 1px white;

}

.x {
  flex-direction: row;
}

.grid a {
  font-family: Watchword Hairline Demo;
  display: inline-block;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

.grid a:hover {
  color: black;
  font-weight: bolder;
  background-color: white;
}

nav {
  background-color: black;
}